/*
*   for the scroll animation
*/

#scrollArea {
    margin-right: var(--bar-width);
    animation-play-state: paused;
    animation-fill-mode: forwards;
    transform: translateY(0%);
    transition: transform linear;
}


/*
*   for the scroll bar
*/

:root {
    /* size */
    --bar-width: 15px;
    --thumb-height: 46px;
    --curve-height: 15px;
    --flag-height: 20px;
    /* position */
    --flag1-top: 0px;
    --thumb-top: 20px;
    --flag2-top: calc(100% - var(--flag-height));
    /* color */
    --scrollbar-color: #f1f1f1;
    --scrollbar-thumb-color: #cdcece;
    --scrollflag-color: #777777;
}

body::-webkit-scrollbar {
    display: none;
}

#scrollbar {
    position: fixed;
    top: 0;
    right: 0.3px;
    width: var(--bar-width);
    height: 100%;
    background-color: var(--scrollbar-color);
}

#scrollflag1 {
    width: var(--bar-width);
    height: var(--flag-height);
    position: absolute;
    top: var(--flag1-top);
    left: 0px;
    background: var(--scrollflag-color);
}

#scrollflag1::after {
    content: "";
    position: absolute;
    width: var(--bar-width);
    height: var(--curve-height);
    top: calc(var(--flag-height) - var(--curve-height) / 2);
    background-color: var(--scrollbar-color);
    border-radius: 50%;
}

#scrollflag2 {
    width: var(--bar-width);
    height: var(--flag-height);
    position: absolute;
    top: var(--flag2-top);
    left: 0px;
    background: var(--scrollflag-color);
}

#scrollflag2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--bar-width);
    height: var(--curve-height);
    top: calc((-1) * var(--curve-height) / 2);
    background-color: var(--scrollbar-color);
    border-radius: 50%;
}

#scrollbarThumb {
    width: var(--bar-width);
    height: var(--thumb-height);
    position: absolute;
    top: var(--thumb-top);
    left: 0px;
    background: var(--scrollbar-thumb-color);
}

#scrollbarThumb::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--bar-width);
    height: var(--curve-height);
    top: calc((-1) * var(--curve-height) * 0.5);
    background-color: var(--scrollbar-thumb-color);
    border-radius: 50%;
}

#scrollbarThumb::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--bar-width);
    height: var(--curve-height);
    top: calc(var(--thumb-height) - var(--curve-height) * 0.5);
    background-color: var(--scrollbar-thumb-color);
    border-radius: 50%;
}